.about-main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  background-color: rgb(229, 200, 233);
}

.about-container {
  display: flex;
  justify-content: center;
}

.main-about {
  font-size: 22px;
  padding: 0px 40px 0px 40px;
  background-color: rgb(229, 200, 233);
}

.about-books {
  padding-top: 30px;
}

.about-image-container {
  width: 100%;
  padding-top: 15px;
}

.about-image {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
}

.main-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
}

.about-intro {
  padding-left: 65px;
}

.about-bot-links {
  background-color: rgb(229, 200, 233);
}

.about-nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(229, 200, 233);
}

/* media */

@media screen and (max-width: 375px) {
  .about-intro {
    font-size: 8px;
  }

  .about-works {
    font-size: 8px;
  }
  .main-about {
    padding-top: 40px;
  }
}

@media screen and (max-width: 618px) {
  .about-intro {
    font-size: 15px;
  }

  .about-works {
    font-size: 15px;
  }
}

@media screen and (max-width: 619px) {
  .about-image {
    margin-bottom: 25px;
    padding: 0px;
    margin-top: 10px;
  }

  .about-intro {
    text-align: center;
    padding: 0px;
    letter-spacing: 0;
  }

  .about-works {
    letter-spacing: 0;
    text-align: center;
  }
  .about-bot-links {
    padding-top: 20px;
    margin-bottom: 5px;
  }
  .main-about {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1269px) {
  .about-image {
    width: 70%;
    padding-top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1269px) {
  .about-intro {
    text-align: center;
    padding: 0px;
    letter-spacing: 0;
  }

  .about-works {
    letter-spacing: 0;
    text-align: center;
  }
  .about-bot-links {
    margin-bottom: 5px;
  }

  .about-image {
    width: 50%;
    padding-top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-about {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 40px;
  }
}
