.about-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(234, 174, 242);
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-about {
  font-size: 22px;
  padding: 80px 40px 0px 40px;
  height: 100%;
  background-color: rgb(234, 174, 242);
}

.about-image-container {
  width: 100%;
}

.about-image {
  width: 40%;
  margin-bottom: 60px;
  border-radius: 10px;
}

.about-image-container {
  display: flex;
  flex-direction: row;
}

.about-intro {
  padding-left: 65px;
  letter-spacing: 3px;
}

.about-works {
  letter-spacing: 3px;
}

.about-bot-links {
  background-color: rgb(234, 174, 242);
  padding: 20px;
}

/* media */

@media screen and (max-width: 375px) {
  .about-intro {
    font-size: 8px;
  }

  .about-works {
    font-size: 8px;
  }
  .main-about {
    padding-top: 40px;
  }
}

@media screen and (max-width: 618px) {
  .about-intro {
    font-size: 15px;
  }

  .about-works {
    font-size: 15px;
  }
}

@media screen and (max-width: 619px) {
  .about-image {
    margin-bottom: 25px;
    border-radius: 30px;
    padding: 0px;
    margin-top: 10px;
  }

  .about-intro {
    text-align: center;
    padding: 0px;
    letter-spacing: 0;
  }

  .about-works {
    letter-spacing: 0;
    text-align: center;
  }
  .about-bot-links {
    padding-top: 20px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1269px) {
  .about-image {
    width: 70%;
    padding-top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1269px) {
  .about-intro {
    text-align: center;
    padding: 0px;
    letter-spacing: 0;
  }

  .about-works {
    letter-spacing: 0;
    text-align: center;
  }
  .about-bot-links {
    margin-bottom: 5px;
  }

  .about-image {
    width: 50%;
    padding-top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-about {
    margin: 0;
  }
}
