.image-slider-container {
  height: 100%;
  width: 100%;
}

.slider-image {
  background-image: cover;
  background-size: contain;
  width: 100%;
}

.arrow-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.arrow-button-left {
  font-size: 100px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0px 0px 0px 10px;
}

.arrow-button-left:hover {
  background-color: rgba(174, 165, 165, 0.5);
}

.arrow-button-right {
  font-size: 100px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0px 10px 0px 0px;
}

.arrow-button-right:hover {
  background-color: rgba(174, 165, 165, 0.5);
}

.arrow-image-right {
  height: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.arrow-image-left {
  height: 40px;
  padding-bottom: 30px;
  padding-left: 18px;
}

@media screen and (max-width: 600px) {
  .arrow-buttons {
    width: 40%;
    margin-right: 0px;
  }
  .slider-image {
    width: 100%;
  }
}
