@font-face {
  font-family: "PolySans";
  src: url("/public/fonts/PolySans.woff");
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: PolySans;
  background-color: rgb(188, 213, 240);
  padding: 50px;
  text-decoration: none;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .nav {
    font-size: 10px;
  }
}
