.open-nav {
  padding: 40px;
  display: grid;
}

.link {
  color: black;
  font-size: clamp(2rem, 8vw, 10rem);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
}

.links {
  background-color: black;
  color: white;
}

#text:has(.highlight:hover) .link:not(.highlight:hover) {
  opacity: 0.4;
}

.line {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.home-bg-image {
  background-image: url("/public/images/test.jpeg");
  height: 200px;
  position: absolute;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

/* @keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
} */
