.open-nav {
  padding: 40px;
  display: grid;
}

.links {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  cursor: pointer;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  /* background-color: rgba(4, 4, 4, 0.252); */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link:hover {
  opacity: 0.5;
  transition: 0.2s ease;
}
