.work-container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  background-color: black;
}

.link-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.work-nav {
  display: flex;
  height: 50%;
}

.middle {
  display: flex;
  margin-top: auto;
  padding-bottom: 120px;
}

.end {
  margin-bottom: auto;
  padding-top: 100px;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  animation: fadein 1s ease-in-out;
}

.hidden-word {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
}

.projects-word {
  position: absolute;
  top: 57%;
  left: 23%;
}

.commissions-word {
  position: absolute;
  top: 80%;
  left: 50%;
}

.publications-word {
  position: absolute;
  top: 57%;
  right: 10%;
}

.work-nav:hover .image {
  opacity: 0.3;
}

.work-nav:hover .hidden-word {
  opacity: 1;
}

.home-button {
  padding: 30px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 620px) {
  html {
    width: 100%;
  }

  .name {
    font-size: 90px;
  }

  .main-container {
    height: 100vh;
    width: 100%;
  }
}

/* media */

@media screen and (max-width: 1000px) {
  .image {
    width: 100%;
    height: 280px;
  }
}

@media screen and (max-width: 835px) {
  .image {
    width: 100%;
    height: 210px;
  }
}

@media screen and (max-width: 630px) {
  .image {
    width: 100%;
    height: 200px;
  }
  .home-button {
    font-size: 10px;
    padding: 10px 0px 0px 0px;
  }

  .work-nav {
    padding-top: 250px;
  }
}

@media screen and (max-width: 560px) {
  .image {
    width: 100%;
    height: 140px;
    padding-right: 20px;
  }

  .work-nav {
    padding-top: 250px;
  }
}

@media screen and (max-width: 400px) {
  .image {
    width: 100%;
    height: 131px;
  }

  .work-nav {
    padding-top: 250px;
  }
}
