.work-container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
}

.link-container {
  height: 100vh;
}

.work-nav {
  display: flex;
  height: 50%;
  justify-content: center;
}

.first {
  padding-top: 200px;
}

.middle {
  display: flex;
  padding-top: 350px;
}

.end {
  padding-top: 70px;
}
