@font-face {
  font-family: "PolySans";
  src: url("/public/fonts/PolySans.woff");
}

::selection {
  color: white;
  background-color: lightpink;
}

a {
  text-decoration: none;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
}

.home-image {
  width: 45%;
  margin-top: 190px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  animation: fadein 1s ease-in-out;
}

.home-image-container {
  display: flex;
  justify-content: center;
}

.name {
  font-family: PolySans;
  font-size: 200px;
  padding-bottom: 1400px;
  background-color: #193718;
  color: #ff8bff;
  animation: fadein 0.3s ease-in-out;
}

.sidebar {
  color: black;
  font-size: 50px;
  margin-top: 200px;
  margin-left: 20px;
}

/* animations */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* media */

@media screen and (max-width: 500px) {
  .name {
    font-size: 70px;
  }

  .main-container {
    height: 100vh;
    width: 100%;
  }

  .home-image {
    margin-top: 300px;
  }
}
