@font-face {
  font-family: "PolySans";
  src: url("/public/fonts/PolySans.woff");
}

::selection {
  color: white;
  background-color: lightpink;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 7fr;
  height: 100vh;
  background-color: blue;
}

.name {
  font-family: PolySans;
  font-size: 300px;
}

/* media */

@media screen and (max-width: 500px) {
}
