@font-face {
  font-family: "PolySans";
  src: url("/public/fonts/PolySans.woff");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url "(/public/fonts/HelveticaNeue-Light.otf)";
}

::selection {
  color: white;
  background-color: rgb(240, 200, 195);
}

a {
  text-decoration: none;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: futura-pt;
  height: 100%;
}

.home-container {
  height: 100vh;
  background-image: url("/public/images/MAINPAGE.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Added */
}

.home-text {
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 60px;
}

.home-links {
  color: white;
  display: flex;
  justify-content: space-between;
  position: absolute; /* Added */
  top: 0px; /* Added */
  width: 100%; /* Added */
}

.home-link {
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  color: black;
  font-size: 22px;
}

.home-text:hover {
  opacity: 0.8;
  transition: 0.2s ease;
}

.home-image {
  width: 70%;
  height: 70%;
  padding-top: 100px;
}

.line {
  display: flex;
  justify-content: space-between;
}

#text {
  padding: 50px;
}

.word {
  font-size: clamp(2rem, 7vw, 10rem);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

.sidebar {
  color: black;
  font-size: 50px;
  margin-top: 200px;
  margin-left: 20px;
}

/* animations */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* media */

@media screen and (max-width: 620px) {
  html {
    width: 100%;
  }

  .name {
    font-size: 90px;
  }

  .main-container {
    height: 100vh;
    width: 100%;
  }

  .home-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/public/images/MOBILEPAGE.jpg");
  }
  .home-link {
    font-size: 14px;
    color: white;
  }

  .home-text {
    font-size: 20px;
    color: black;
  }
}

@media screen and (max-width: 960px) {
  .home-image {
    padding-top: 120px;
    width: 100%;
    height: 60%;
  }
}

/* @media screen and (max-width: 400px) {
  .home-image {
    padding-top: 210px;
    width: 100%;
    height: 28%;
  }
} */
